/* utilities */
.is-flex {
    display: flex;
}

.is-flex.flex-justify-spcbet {
    justify-content: space-between;   
}

.is-flex.flex-align-center {
    align-items: center;
}

.is-flex.flex-align-baseline {
    align-items: baseline;
}

/* universals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* headers and footers */
header {
    border-bottom: 1px solid white;
    padding: 10px 10px;
}

header > .top-bar {
    gap: 1em;
}

.top-bar-label {
    gap: 0.5em;
}

.top-bar-icon {
    width: 40px;
    height: 40px;
}

.top-bar-icon > * {
    height: 100%;
    width: 100%;
}

#name-label {
    font-size: 2em;
}